/* General */

*{
    padding: 0;
    margin: 0;
    font-family: var(--tipografia)
}

.negrita{
    font-weight: bold;
}

:root{
    --color-amarillo:#EAC926;
    --color-azul:#03264C;
    --color-celeste:#1259c3;
    --gris-oscuro:#666;
    --gris-claro:#ebebeb;
    --verde:#39b54a;
    --tipografia: 'Roboto', sans-serif;
    --cuerpo: 12px;
    --titulares: 24px;
    --precios: 18px;
    --descuentos-descripciones: 16px;
}

/* Body */
body{
    background-color: #ebebeb;
}

/* Header */

header{
    background-color: var(--color-amarillo);
}

.logo{
    margin-top: 30px;
    margin-left: 29px;
    width: 47%;
}

#busqueda{
    margin-top: 10px;
    margin-left: 20px;
}

#lupa {
    background-color: white;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 1px;
    margin-left: 20px;
    margin-bottom: 10px;
}

i.fas.fa-search{
padding: 2px;
}

.cuotas, p.titulares{
text-align: center;
}

a{
    text-decoration: none;
    color: black;
}


li{
    list-style: none;
}

.burger-menu{
background-color: var(--color-celeste);
display: inline-block;
border-radius: 5px;
margin: 20px 45vw;
}

i.fas.fa-bars{
    color: white;
    font-size: 20px;
    padding: 8px;
}

/* Main */

main{
    margin: auto;
    width: 90vw;
    background-color: #ebebeb;
}

.banner{
    object-fit: cover;
}

article{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
}

#precio-descripcion{
    padding: 15px;
    border: 1px solid #ebebeb;
}

.titulares{
    font-weight: bold;
    font-size: var(--titulares);
}

.inner-circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    line-height: 50px;
    border-color: var(--verde);
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0);
  }

/* img.productos */

i.fas.fa-truck{
    color: var(--verde);
}

.precio{
font-size: var(--precios);
font-weight: bold;
}

p.descuentos-descripciones{
    color: var(--verde);
}

.descuentos-descripciones{
    font-size: var(--descuentos-descripciones);
    font-weight: bold;

}

/* Footer */ 

footer {
    background-color: white;
    padding: 1px 0px;
    margin: 0 15px;
}

.cuerpo-texto{
    font-size: var(--cuerpo);
}

footer i{
    text-align: center;
    width: 100%;
}

i.fas.fa-credit-card , i.fas.fa-gift , i.fas.fa-user-shield {
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--color-celeste);
}

footer section{
    margin: 50px 45px;
}

footer section p{
    text-align: center;
    margin:1px 20px;
}

p#end.negrita{
    text-align: start;
    margin: 50px -20px;
}


/* Media Queries */

/* 320px - Mobile Small */

@media (min-width: 320px){

    div#input{
        display: inline;
    }

    .nav-menu{
        display: none;
    }

    .nav-header{
        display: none;
    }

    h3.descuentos-descripciones{
        display: none;
    }

    .productos{
        width: 100%;
    }
    
    .banner{
    display: none;
        }
    
    li, .cuotas {
        font-size: var(--cuerpo);
        font-weight: bold;
    }
    }

    /* 361px - Tablet */

    @media (min-width: 361px){

        .burger-menu{
            display: none;
        }

        h3.descuentos-descripciones{
            display: block;
        }


        .banner{
            display: block;
            width: 100vw;
                }

        article{
            box-shadow: 0px 0px 10px 0px rgba(100,100,100,1);
        }

        .nav-menu{
            display: block;
        }
    
        .nav-header{
            display: block;
            padding-bottom: 10px;
        }
    
    }
     
    @media (min-width: 769px){

        .nav-menu{
            display: block;
        }
    
        .nav-header{
            display: block;
            margin-bottom: 10px;
        }

        .burger-menu{
            display: none;
        }
    }